<h1>Itt fogod látni az elért eredményeid</h1>

<div id="form" class="card p-4 shadow-lg" style="width: 350px; " 
   >
        <div>
        <label for="name" class="form-label">{{receivedData.name}}</label>
       
    </div>
    <div class="input">
        <label for="email" class="form-label">{{receivedData.email}}</label>
        
    </div>
    <div class="input">
        <label for="name" class="form-label">{{receivedData.password}}</label>
        
    </div>
    <div class="input">
        <label for="childname" class="form-label">{{receivedData.childname}}</label>
       
    </div>
    <div class="input">
        <label for="chilldage" class="form-label">{{receivedData.childage}}</label>
       
    </div>
   