<header>

 <ul class="navbar">
   
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/about">Rólunk</a>
    </li>
    @if(!loggedIn){
     
    <li class="navbar-item">
      <a routerLink="register" routerLinkActive="active"
      >Regisztráció</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/login" >Bejelentkezés</a>
    </li>
    
    }
    @if(loggedIn){
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/home-private">Főoldal</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/child-selector">Gyerekek</a>cha
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/logout">Kilépés</a>
      </li>
    
    }
  </ul>
 

</header>
<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <p>&copy; 2025 Minden jog fenntartva.</p>
</footer>
