<div
 style=
 "width: max-content;
 
"><h1>Üdvözlöljük </h1>
<h2>Gyermeke remekül fogja magát érezni és közben fejlődik</h2>

<p>Játékaink listája évről évre fejlődni fog</p>


<div class=" row">
  
  
  
     <div class="card_memory">
       
       
         <h5 class="card-title">Memória Játék </h5>
         <p class="card-text">Ezt a játékot  3-5 éveseknek ajánljuk</p>       
         <a href="memorygame"        class="btn btn-primary">Índits</a>
     </div>

     
     <div class="card_math">
       
       
      <h5 class="card-title">Matemaikai Játék </h5>
      <p class="card-text">Ezt a játékot  7-9 éveseknek ajánljuk</p>       
      <a href="memorygame"        class="btn btn-primary">Índits</a>
  </div>

   
   

<p>Az eredményeit itt tudja megtekintei</p>

<div>
<button (click)="eredmeny()" >Eredmenyid és adataid</button>
</div>

</div>