<div>
    <!-- <h2>Válassz fiókot</h2>
    <-<select (change)="onAccountSelect($any($event.target).value)"> 
      <option value="" disabled selected>Válassz egy fiókot...</option>
      <option *ngFor="let account of accounts" [value]="account.id">
        {{ account.name }}
      </option>
    </select> -->
  </div>
  
  <div >
    <h3>Kiválasztott fiók:</h3>
   
  </div>
  <form [formGroup]="childForm" (ngSubmit)="addChild()">
  <div>
    <h2>Új fiók hozzáadása</h2>
    <input type="name"  formControlName="childname" placeholder="Új gyermek neve" class="form-control" >
    <input type="age" placeholder="Új gyermek kora" class="form-control">
    <button (click)="addChild()">Hozzáadás</button>
  </div>
</form>