

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px;">
      <h2 class="text-center mb-3">Belépés</h2>
  
      <form >
        <div class="input-group mb-3">
          
          <span class="input-group-text">Név</span>
          <input type="name" name="username" class="form-control">
          
        </div>
  
        <div class="input-group mb-3">
          <span class="input-group-text">Jelszó</span>
          <input type="password" name="password" class="form-control">
        </div>
  
        <button class="btn btn-primary mt-2"  type="submit" (click)="onSubmit()" >Belépés</button>
      </form>
    </div>
  </div>
  