<div class="container">
    <h2>PikkyPad</h2>

    <ul>
        <li><fa-icon [icon]="faHome" class="icon"></fa-icon> Home</li>
        <li><fa-icon [icon]="faUser" class="icon"></fa-icon> Felhasználók</li>
        <li><fa-icon [icon]="faChild" class="icon"></fa-icon>Gyerekek</li>
        <li><fa-icon [icon]="faAdd" class="icon"></fa-icon>Új felhasználó</li>
        <li><fa-icon [icon]="faAdd" class="icon"></fa-icon>Új gyerek</li>
        <li><fa-icon [icon]="logout" class="icon"></fa-icon> Kijelentkezés</li>
    </ul>

</div>